/shoppingcart.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/shoppingcart.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/shoppingcart.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/shoppingcart.Server/bin/Debug/net8.0/System.ClientModel.dll
/shoppingcart.Server/bin/Debug/net8.0/System.CodeDom.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Composition.Convention.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Composition.Hosting.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Composition.Runtime.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Composition.TypedParts.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Drawing.Common.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Formats.Asn1.dll
/shoppingcart.Server/bin/Debug/net8.0/System.IO.Pipelines.dll
/shoppingcart.Server/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Memory.Data.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Runtime.Caching.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Security.Permissions.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Text.Json.dll
/shoppingcart.Server/bin/Debug/net8.0/System.Windows.Extensions.dll
/shoppingcart.Server/bin/Debug/net8.0/appsettings.Development.json
/shoppingcart.Server/bin/Debug/net8.0/appsettings.json
/shoppingcart.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/shoppingcart.Server/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.deps.json
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.dll
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.exe
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.pdb
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.runtimeconfig.json
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.staticwebassets.endpoints.json
/shoppingcart.Server/bin/Debug/net8.0/shoppingcart.Server.staticwebassets.runtime.json
/shoppingcart.Server/bin/Debug/net8.0/spa.proxy.json
/shoppingcart.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/shoppingcart.Server/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/shoppingcart.Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/shoppingcart.Server/obj/Debug/net8.0/apphost.exe
/shoppingcart.Server/obj/Debug/net8.0/ref/shoppingcart.Server.dll
/shoppingcart.Server/obj/Debug/net8.0/refint/shoppingcart.Server.dll
/shoppingcart.Server/obj/Debug/net8.0/shopping.07F987DD.Up2Date
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.AssemblyInfo.cs
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.AssemblyInfoInputs.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.GeneratedMSBuildEditorConfig.editorconfig
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.GlobalUsings.g.cs
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.MvcApplicationPartsAssemblyInfo.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.MvcApplicationPartsAssemblyInfo.cs
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.assets.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.csproj.AssemblyReference.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.csproj.BuildWithSkipAnalyzers
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.csproj.CoreCompileInputs.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.csproj.FileListAbsolute.txt
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.dll
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.genruntimeconfig.cache
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.pdb
/shoppingcart.Server/obj/Debug/net8.0/shoppingcart.Server.sourcelink.json
/shoppingcart.Server/obj/Debug/net8.0/spa.proxy.json
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.build.json
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.development.json
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.pack.json
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.removed.txt
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets/msbuild.build.shoppingcart.Server.props
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.shoppingcart.Server.props
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.shoppingcart.Server.props
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets/msbuild.shoppingcart.Server.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/shoppingcart.Server/obj/Debug/net8.0/staticwebassets/msbuild.shoppingcart.Server.Microsoft.AspNetCore.StaticWebAssets.props
/shoppingcart.Server/obj/project.assets.json
/shoppingcart.Server/obj/project.nuget.cache
/shoppingcart.Server/obj/shoppingcart.Server.csproj.nuget.dgspec.json
/shoppingcart.Server/obj/shoppingcart.Server.csproj.nuget.g.props
/shoppingcart.Server/obj/shoppingcart.Server.csproj.nuget.g.targets
/shoppingcart.Server/wwwroot/3rdpartylicenses.txt
/shoppingcart.Server/wwwroot/browser/favicon.ico
/shoppingcart.Server/wwwroot/browser/index.html
/shoppingcart.Server/wwwroot/browser/main-DXJ6XDWD.js
/shoppingcart.Server/wwwroot/browser/polyfills-FFHMD2TL.js
/shoppingcart.Server/wwwroot/browser/styles-5INURTSO.css
/shoppingcart.Server/wwwroot/prerendered-routes.json
/shoppingcart.client/obj/Debug/package.g.props
/shoppingcart.client/obj/Debug/shoppingcart.client.esproj.CoreCompileInputs.cache
/shoppingcart.client/obj/Debug/shoppingcart.client.esproj.FileListAbsolute.txt
/shoppingcart.client/.editorconfig
/shoppingcart.client/.gitignore
/shoppingcart.client/.vscode/extensions.json
/shoppingcart.client/.vscode/launch.json
/shoppingcart.client/.vscode/tasks.json
/shoppingcart.Server/bin/Debug/net8.0/Azure.Core.dll
/shoppingcart.Server/bin/Debug/net8.0/Azure.Identity.dll
/shoppingcart.Server/bin/Debug/net8.0/Humanizer.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.AspNetCore.SpaProxy.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.OpenApi.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/shoppingcart.Server/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/shoppingcart.Server/bin/Debug/net8.0/Mono.TextTemplating.dll
/.vs/shoppingcart/FileContentIndex/f75f2be6-3b46-4cd0-8c15-770c92afb2e4.vsidx
/.vs/shoppingcart/config/applicationhost.config
/.vs/shoppingcart/v17/.futdcache.v2
/.vs/shoppingcart/v17/.suo
/.vs/shoppingcart/v17/DocumentLayout.backup.json
/.vs/shoppingcart/v17/DocumentLayout.json
/.vs/shoppingcart/v17/TestStore/0/000.testlog
/.vs/shoppingcart/v17/TestStore/0/testlog.manifest
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/CodeChunks.db
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/SemanticSymbols.db
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs/shoppingcart/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/.vs/shoppingcart/DesignTimeBuild/.dtbcache.v2
/.vs/shoppingcart/FileContentIndex/22747700-97ed-4757-a37e-4fd30f5316d8.vsidx
/.vs/shoppingcart/FileContentIndex/62566754-bd26-4724-8ec3-f530929a3089.vsidx
/.vs/shoppingcart/FileContentIndex/c3fcace1-0dfb-476e-84cc-8255780e79b2.vsidx
/.vs/shoppingcart/FileContentIndex/c78d3f16-8056-400b-83d8-42ffff440069.vsidx
/.vs/ProjectEvaluation/shoppingcart.metadata.v9.bin
/.vs/ProjectEvaluation/shoppingcart.projects.v9.bin
/.vs/ProjectEvaluation/shoppingcart.strings.v9.bin
