<header class="header">
  <div class="main-header-container-flex">
    <div class="left-group">
      <nav>
        <a routerLink="/about">About &nbsp;</a>
        <a routerLink="/home">Home &nbsp;</a>
        <a *ngIf="isLoggedIn" routerLink="/productlist">Product List</a>
      </nav>
    </div>
    <div class="right-group">
      <span class="userName">{{ loginUser?.username }}</span> &nbsp;
      <a
        *ngIf="isLoggedIn"
        style="margin-top: -10px"
        routerLink="/setting"
        mat-icon-button
      >
        <mat-icon>account_circle</mat-icon>
        &nbsp;</a
      >
      <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      <a *ngIf="isLoggedIn" routerLink="/home" class="logout" (click)="logout()"
        >Logout</a
      >
    </div>
  </div>
</header>
