<form (ngSubmit)="onSearch()">
  <div class="search-box">
    <label>ProductName:</label>
    <input type="text" [(ngModel)]="productName" name="productName" required />

    <button
      mat-icon-button
      matSuffix
      type="submit"
      class="search-button"
      [disabled]="isLoading"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
<span class="spinner" *ngIf="isLoading"></span>
<div *ngIf="!isLoading && products">
  <div class="product-list">
    <div class="product-item" *ngFor="let item of products; let i = index">
      <app-output-image
        [docId]="item.docId"
        [class]="'img_cart'"
        [altText]="'Not download image'"
      ></app-output-image>

      <div class="item_label">
        {{ item.productName }}
      </div>

      <div class="item_price">
        <span>{{ item.price | currency }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && (!products || products?.length == 0)">
  <p class="form-item-error padding-left">No products found.</p>
</div>
