<div class="fixed-header">
  <h1 class="form-title">Register User</h1>
  <div *ngIf="formErrors.length" class="form-errors">
    <ul>
      <li *ngFor="let error of formErrors" style="text-align: left">
        {{ error }}
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="handleSubmitForm()">
  <div class="form-container">
    <div class="form-row">
      <div class="form-label">
        <label>UserName: </label>
      </div>
      <div class="form-item">
        <input
          type="text"
          class="short"
          formControlName="UserName"
          placeholder="Enter UserName "
          [class.input-error]="
            myForm.get('UserName')?.invalid && myForm.get('UserName')?.touched
          "
        />
      </div>
    </div>

    <!-- password -->
    <div class="form-row">
      <div class="form-label">
        <label>password:</label>
      </div>
      <div class="form-item">
        <input
          type="password"
          formControlName="Password"
          placeholder="Enter password."
          class="short"
          [class.input-error]="
            myForm.get('Password')?.invalid && myForm.get('Password')?.touched
          "
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label>Role:</label>
      </div>
      <div class="form-item">
        <select formControlName="Role" class="short">
          <option value="user" selected>User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
    </div>
  </div>

  <div class="fixed-footer">
    <div class="fixed-footer-item">
      <button class="btn default" type="submit">Register</button>&nbsp;
    </div>
  </div>
</form>
