<div class="content_list">
  <div class="addProductButton" style="text-align: left; padding-bottom: 10px">
    <!-- <button (click)="handleAdd()">Add Product</button> -->
    <button mat-raised-button color="primary" (click)="handleAdd()">
      <mat-icon>add_box</mat-icon>
      Register
    </button>

    
  </div>
  <table class="listTable">
    <thead>
      <tr>
        <th style="width: 20px">#</th>
        <th style="width: 100px">Image</th>

        <th>Product Name</th>
        <th>Price</th>
        <th style="width: 160px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let index = index">
        <td>{{ index + 1 }}</td>
        <td>
          <app-output-image
            [docId]="product.docId"
            [style]="'width: 100px; height: 100px;'"
          ></app-output-image>
        </td>

        <td>{{ product.productName }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <!-- <button (click)="handleEdit(product)">Edit</button>
          <button (click)="handleDelete(product.id, product.productName)">
            Delete
          </button> -->
          <button mat-icon-button color="warn" (click)="handleEdit(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="handleDelete(product.id, product.productName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
